@media screen and (max-width: 2000px) {
    .section__4_button_1 {
        margin-left: 430px;
    }
}
@media screen and (max-width: 1950px) {
    .section__4_button_1 {
        margin-left: 395px;
    }
}
@media screen and (max-width: 1900px) {
    .section__4_button_1 {
        margin-left: 370px;
    }
}
@media screen and (max-width: 1850px) {
    .section__4_button_1 {
        margin-left: 355px;
    }
}
@media screen and (max-width: 1800px) {
    .section__4_button_1 {
        margin-left: 340px;
    }
}
@media screen and (max-width: 1750px) {
    .section__4_button_1 {
        margin-left: 315px;
    }
}
@media screen and (max-width: 1700px) {
    .section__4_button_1 {
        margin-left: 290px;
    }
}
@media screen and (max-width: 1650px) {
    .section__4_button_1 {
        margin-left: 260px;
    }
}
@media screen and (max-width: 1600px) {
    .section__4_button_1 {
        margin-left: 220px;
    }
}
@media screen and (max-width: 1550px) {
    .section__4_button_1 {
        margin-left: 190px;
    }
}
@media screen and (max-width: 1450px) {
    .section__4_button_1 {
        margin-left: 150px;
    }
}
@media screen and (max-width: 1400px) {
    .section__4_button_1 {
        margin-left: 120px;
    }
}
@media screen and (max-width: 1350px) {
    .section__4_button_1 {
        margin-left: 100px;
    }
}
@media screen and (max-width: 1300px) {
    .section__4_button_1 {
        margin-left: 80px;
    }
}
@media screen and (max-width: 1250px) {
    .section__4_button_1 {
        margin-left: 60px;
    }
}
@media screen and (max-width: 1200px) {
    .section__4_button_1 {
        margin-left: 40px;
    }
}
@media screen and (max-width: 1130px) {
    .section__4_button_1 {
        margin-left: 5px;
    }
    .section__10_main {
        margin-left: 10px;
    }
    .footer__serveses {
        display: none;
    }
    .footer__yet {
        display: flex;
        justify-content: end;
        margin-left: 300px;
    }
    .s__1_first {
        display: flex;
        flex-direction: column;
    }
    .s__1_second {
        display: flex;
        flex-direction: column;
    }
    .section__1_phone {
        margin-top: 5px;
    }
    .section__1_address {
        margin-left: 25px;
    }
    .section__1_login {
        display: flex;

    }
    .s__1_img_2 {
        width: 21px;
        height: 21px;
    }
    .section__1_login {
        display: none;
    }
    .s__1_user {
        display: flex;
        flex-direction: column;
    }
    .section__2_main_block_small {
        display: none;
    }
    .section__3_main {
        justify-content: start;
        margin-left: 5px;
    }
    .right_small  {
        display: none;
    }
    .left_small {
        display: none;
    }
    .section__7 {
        display: none;
    }
    .section__7_media {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .section__7_media_main {
        display: flex;
        flex-direction: column;
    }
    .media_img_7 {
        width: 90px;
        height: 24px;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-right: 20px;
    }
    .media_img_72 {
        width: 101px;
        height: 24px;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-right: 20px;
    }
    .section__9 {
        background: #0C1A2A;
        height: 100%;
    }
    .s__7_media_text {
        font-size: 16px;
    }
    .section__9_main {
        margin-left: 10px;
    }
}
@media screen and (max-width: 900px) {
    .footer__information {
        display: none;
    }
    .section__10_main {
        margin-left: 10px;
    }
    .s__1_first {
        display: none;
    }
    .section__1_main1 {
        gap: 200px;
    }
    .section__2_right {
        display: none;
    }
    .section__2_left {
        display: none;
    }
    .section__2_main_block {
        width: 600px;
        margin-left: 0;
    }
    .burger_white {
        display: none;
    }
    .section__2_main_1 {
        display: flex;
        justify-content: center;
    }
    .footer__main {
        gap: 350px;
        justify-content: center;
    }
    .footer__yet {
        margin-left: 0;
    }
    .catalog {
        display: none;
    }
    .button_catalog_media {
        display: flex;

    }
    .catalog_2 {
        background: #005BB9;
        border: 0;
        width: 42px;
        height: 42px;
        border-radius: 4px;
    }
    .search_input {
        height: 42px;
    }
    .search_button {
        height: 42px;
    }
    .section__5_main {
        flex-direction: column;
    }
    .section__9_main {
        flex-direction: column;
    }
    .s__9_cont {
        display: none;
    }
    .section__9_footer_border {
        margin-bottom: 19px;
    }

}
@media screen and (max-width: 630px) {
    .section__1_main1 {
        gap: 100px;
    }
    .section__4 {
        display: none;
    }
    .footer__main {
        gap: 200px;
    }
    .section__2_main_block {
        width: 500px;
        height: 300px;
        border-radius: 30px;
    }
    .section__2_footer_down {
        display: none;
    }
    .s__2_main_text {
        font-size: 20px;
        margin-left: 5px;
    }
    .s__2_price_old {
        margin-top: 8px;
        font-size: 14px;
    }
    .s__2_small_text {
        font-size: 16px;
        margin-left: 5px;
    }
    .sepa {
        width: 200px;
        height: 150px;
    }
    .s__2_price {
        font-size: 20px;
        margin-left: 5px;
    }
}
@media screen and (max-width: 530px) {
    .footer__main {
        gap: 180px;
    }
    .section__1_main1 {
        gap: 0px;
    }
    .section__2_main_block {
        width: 400px;
        height: 250px;
        border-radius: 30px;
    }
    .s__2_main_text {
        font-size: 16px;
        margin-left: 5px;
    }
    .s__2_price_old {
        margin-top: 8px;
        font-size: 12px;
    }
    .s__2_small_text {
        font-size: 14px;
        margin-left: 5px;
    }
    .sepa {
        width: 150px;
        height: 120px;
    }
    .section__10_main {
        margin-left: 10px;
    }
}
@media screen and (max-width: 430px) {
    .footer__main {
        gap: 50px;
    }
    .s__1_second {
        display: none;
    }
    .section__1_main1 {
        justify-content: start;
        margin-left: 5px;
    }
    .section__2_main_block {
        width: 300px;
        height: 200px;
        border-radius: 30px;
    }
    .s__2_main_text {
        font-size: 16px;
        margin-left: 5px;
    }
    .s__2_button {
        width: 100px;
        height: 40px;
        font-size: 14px;
        margin-left: -35px;
    }
    .s__2_price {
        margin-top: 8px;
        font-size: 12px;
    }
    .s__2_price_old {
        margin-top: 8px;
        font-size: 12px;
    }
    .s__2_small_text {
        font-size: 14px;
        margin-left: 5px;
    }
    .sepa {
        width: 150px;
        height: 120px;
    }
    .section__9_main_contact {
        flex-direction: column;
    }
    .section__9_contact {
        display: none;
    }
}
